body {
    background-color: black;
    color:white;
    padding-top: 300px;
}


div {
    width: 200px;
    height: 100px;
    background-color: grey;
    
    border-width: 20px;
    border-style: solid;
    border-color: orange;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 30px;
    
    float: left;
}

#especial {
    background-color: blue;
}
.outracor {
    background-color:darkred
}
